# Rust specific ignores
/target/
**/*.rs.bk
Cargo.lock

# Gradle specific ignores
.gradle/
build/
out/
*.class
*.jar
!gradle-wrapper.jar

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# macOS specific ignores
.DS_Store
.AppleDouble
.LSOverride
._*

# Project specific ignores
plots/

.venv/

lib/vendor/
lib/bin/

src/main/java/org/pwrup/napoleon/Main.java
src/main/java/org/pwrup/napoleon/PathVisualizer.java
blue_a_annotations.json